<p id="notice"><%= notice %></p>

<p>
  <strong>Softbank phone number:</strong>
  <%= @unique_whiteline.softbank_phone_number %>
</p>

<%= link_to 'Edit', edit_unique_whiteline_path(@unique_whiteline) %> |
<%= link_to 'Back', unique_whitelines_path %>
